@charset "utf-8";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
th,
td,
button {
  margin: 0;
  padding: 0;
  font-family: DIN Alternate Bold, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

em,
i {
  font-style: normal;
}
html,
body {
  width: 100vw;
}
img {
  border: none;
}

ul,
ol,
li {
  list-style: none;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

a:active,
a:focus {
  outline: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper {
  width: 100vw;
  display: flex;
}
.left {
  width: 10%;
}
.right {
  width: 90%;
}

